body{
  background: -webkit-gradient(linear, left top, left bottom, from(#126E82) , to(#51C4D3)) fixed;
}
canvas {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  background-color: #B6C867;
}

.heading{
  font-size: 100px;
  margin-top: 30px;
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.gameover{
  top: 50%;
  left: 48%;
  position: absolute;
  align-content: center;
  display: none;
}

.text{
  margin: 0;
  font-family: 'Shadows Into Light';
  font-size: 25px
}

.button{
  border: none;
  margin-top: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img{
  background-color: white;
  width: 20px;
  height: 20px;
}
